{% extends 'base_html.html' %}
{% load staticfiles %}
{% block tittle %}宠物在线交易网{% endblock %}
{% block custom_bread %}
{% endblock %}
{% block custom_contend %}
        <div class="banner">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">

                            <li>
                                    <a href="http://www.boqii.com/">
                                        <img width="1200" height="478" src="/static/media/banner/2016/11/banaer1.png" />
                                    </a>
                                </li>

                            <li>
                                    <a href="http://www.boqii.com/">
                                        <img width="1200" height="478" src="/static/media/banner/2016/11/banaer2.jpg" />
                                    </a>
                                </li>

                            <li>
                                    <a href="http://www.boqii.com/">
                                        <img width="1200" height="478" src="/static/media/banner/2016/11/banaer3.png" />
                                    </a>
                                </li>

                            <li>
                                    <a href="http://www.boqii.com/">
                                        <img width="1200" height="478" src="/static/media/banner/2016/11/banaer4.png" />
                                    </a>
                                </li>

                            <li>
                                    <a href="http://www.boqii.com/">
                                        <img width="1200" height="478" src="/static/media/banner/2016/11/banaer5.png" />
                                    </a>
                                </li>


						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>

				</div>


			</div>
<!--banner end-->
<!--feature start-->
	<section>
		<div class="wp">
			<ul class="feature">
				<li class="feature1">
					<img class="pic" src="/static/images/feature1.png"/>
					<p class="center">专业权威</p>
				</li>
				<li class="feature2">
					<img class="pic" src="/static/images/feature2.png"/>
					<p class="center">宠物最新</p>
				</li>
				<li class="feature3">
					<img class="pic" src="/static/images/feature3.png"/>
					<p class="center">知名宠物店</p>
				</li>
				<li class="feature4">
					<img class="pic" src="/static/images/feature4.png"/>
					<p class="center">安全可靠</p>
				</li>
			</ul>
		</div>
	</section>
<!--feature end-->
<!--module1 start-->
	<section>
		<div class="module">
			<div class="wp">
				<h1>宠物</h1>
				<div class="module1 eachmod">
					<div class="module1_1 left">
						<img width="228" height="614" src="/static/images/module1_1.jpg"/>
						<p class="fisrt_word">知名宠物店<br/>专业权威</p>
						<!--<a class="more" href="course-list.html">查看更多课程 ></a>-->
					</div>
					<div class="right group_list">
						<div class="module1_2 box">
							<div class="imgslide2">
								<ul class="imgs">

                                    <li>
                                        <a href="course-detail.html">
                                            <img width="470" height="300" src="/static/media/courses/2016/11/566e30c6e60db.jpg" />
                                        </a>
                                    </li>

                                    <li>
                                        <a href="course-detail.html">
                                            <img width="470" height="300" src="/static/media/courses/2016/11/19029a5741b4c8ea.jpg" />
                                        </a>
                                    </li>

								</ul>
							</div>
							<div class="unslider-arrow2 prev"></div>
							<div class="unslider-arrow2 next"></div>
						</div>

                            <div class="module1_3 box">
                                <a href="course-detail.html">
                                    <img width="233" height="190" src="/static/media/courses/2016/12/贵宾犬.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2 title="django入门">贵宾犬</h2>
                                    </a>
                                    <span class="fl">年龄：<i class="key">1</i></span>
                                    <span class="fr">购买人数：3</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="宠物三店">宠物三店</span>
                                    <span class="star fr">0</span>
                                </div>
                            </div>

                            <div class="module1_4 box">
                                <a href="course-detail.html">
                                    <img width="233" height="190" src="/static/media/courses/2016/12/47f91cb9646b9816dfd8abb7a4e83070.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2 title="java入门">阿拉斯加</h2>
                                    </a>
                                    <span class="fl">年龄：<i class="key">0</i></span>
                                    <span class="fr">购买人数：0</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="宠物三店">宠物三店</span>
                                    <span class="star fr">0</span>
                                </div>
                            </div>

                            <div class="module1_5 box">
                                <a href="course-detail.html">
                                    <img width="233" height="190" src="/static/media/courses/2016/11/9b92cc20045fd40a360d7235fa5e771d.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2 title="python入门">加菲猫</h2>
                                    </a>
                                    <span class="fl">年龄：<i class="key">1</i></span>
                                    <span class="fr">购买人数：0</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="宠物三店">宠物三店</span>
                                    <span class="star fr">0</span>
                                </div>
                            </div>

                            <div class="module1_7 box">
                                <a href="course-detail.html">
                                    <img width="233" height="190" src="/static/media/courses/2016/11/19029a5741b4c8ea.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2 title="java入门3">哈士奇</h2>
                                    </a>
                                    <span class="fl">年龄：<i class="key">1</i></span>
                                    <span class="fr">购买人数：1</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="宠物三店">宠物三店</span>
                                    <span class="star fr">0</span>
                                </div>
                            </div>

                            <div class="module1_8 box">
                                <a href="course-detail.html">
                                    <img width="233" height="190" src="/static/media/courses/2016/11/566e30c6e60db.jpg"/>
                                </a>
                                <div class="des">
                                    <a href="course-detail.html">
                                        <h2 title="python入门2">布偶猫</h2>
                                    </a>
                                    <span class="fl">年龄：<i class="key">1</i></span>
                                    <span class="fr">购买人数：0</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title="宠物三店">宠物三店</span>
                                    <span class="star fr">0</span>
                                </div>
                            </div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="module greybg">
			<div class="wp">
				<h1>宠物店铺</h1>
				<div class="module3 eachmod">
					<div class="module3_1 left">
						<img width="228" height="463" src="/static/images/module3_1.jpg"/>
						<p class="fisrt_word">名店来袭<br/>权威认证</p>
						<!--<a class="more" href="org-list.html">查看更多机构 ></a>-->
					</div>
					<div class="right">
						<ul>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="five">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="five">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店训">宠物三店</span></p>
                                    </a>
                                </li>

                                <li class="five">
                                    <a href="org-detail-homepage.html">
                                        <div class="company">
                                            <img width="184" height="100" src="/static/media/org/2016/11/宠物店logo.png"/>
                                            <div class="score">
                                                <div class="circle">
                                                    <h2>全国知名</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <p><span class="key" title="宠物三店">宠物三店</span></p>
                                    </a>
                                </li>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
    <section>
    <ul class="sidebar">
        <li class="qq">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2023525077&site=qq&menu=yes"></a>
        </li>
        <li class="totop"></li>
    </ul>
</section>
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}



