{% extends 'org_base.html' %}
{% block tittle %}店铺宠物{% endblock %}

{% block right_form %}
    <div class="right companycenter layout" >
		<div class="head">
			<h1>店铺宠物</h1>
		</div>
		<div class="brief group_list">
                {% for pet in all_pet %}
                <div class="module1_5 box">
                    <a class="comp-img-box" href="course-detail.html">

                        <img width="214" height="195" src="{{ MEDIA_URL }}{{ pet.pet_image }}"/>
                    </a>
                    <div class="des">
                        <a href="course-detail.html"><h2>{{ pet.name }}</h2></a>
                        <span class="fl">年龄：<i class="key">{{ pet.age }}</i></span>
                        <span class="fr">购买人数：{{ pet.buy_people_num }}</span>
                    </div>
                    <div class="bottom">
                        <span class="fl">{{ pet.pet_org.name }}</span>
                         <span class="star fr  notlogin
                            " data-favid="13" data-fav-type="4">
                            0
                        </span>
                    </div>
                </div>
                {% endfor %}
		</div>
			<div class="pageturn">
                <ul class="pagelist">
                    <li class="active"><a href="?page=1">1</a></li>
                </ul>
            </div>
	</div>
{% endblock %}