{% extends 'base_html.html' %}
{% load staticfiles %}
{% block tittle %}宠物老板列表 - 宠物在线交易网{% endblock %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/index/">首页</a>></li>
                <li>宠物老板</li>
            </ul>
        </div>
    </section>
{% endblock %}


{% block custom_contend %}
    <section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="butler_list layout">
			<div class="head">
				<ul class="fl tab_header">
					<li class="{% ifequal sort '' %}active{% endifequal %}"><a href="?sort=">全部</a> </li>
					<li class="{% ifequal sort 'favorite_nums' %}active{% endifequal %}"><a href="?sort=favorite_nums">收藏数 &#8595;</a></li>
                    <li class="{% ifequal sort 'click_nums' %}active{% endifequal %}"><a href="?sort=click_nums">点击数 &#8595;</a></li>
				</ul>
                <div class="fr butler-num">共<span class="key">{{ all_nums }}</span>人&nbsp;&nbsp;&nbsp;</div>
			</div>
                {% for boss in all_boss.object_list %}
                <dl class="des">
					<dt>
						<a href="/org/teacher/detail/1/">
                            <div class="picpic">
                                <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ boss.boss_image }}"/>
                            </div>
                        </a>
{#						<div class="btn">#}
{#							<div class="fr btn2 bdsharebuttonbox"#}
{#                                 data-text="宠物店老板-奥巴马-宠物在线"#}
{#                                 data-desc="我在#宠物网#发现了热门店铺老板“奥巴马”，对爱宠物的小伙伴来说可是个福利哦，一起来看看吧。"#}
{#                                 data-comment="奥巴马金牌老板，工作年限：5年"#}
{#                                 >#}
{#                                <span class="fl">分享</span>#}
{#                                <a href="#" class="bds_more" data-cmd="more"></a>#}
{#                            </div>#}
{#						</div>#}
					</dt>
					<dd>
						<a href="/org/teacher/detail/1/">
                            <h1>{{ boss.name }}<span class="key picbig">金牌老板</span></h1>
                        </a>
						<ul class="cont">
							<li>就职店铺：<span>{{ boss.work_org.name }}&nbsp;</span></li>
							<li>开店年龄：<span>{{ boss.work_year }}</span></li>
                            <li>点击数：<span>{{ boss.click_nums }}</span></li>
                            <li>收藏数：<span>{{ boss.favorite_nums }}</span></li>
						</ul>
					</dd>
{#                    <a class="buy buyservice" href="/org/teacher/detail/1/"><br/>查看<br/>详情</a>#}
                </dl>
                {% endfor %}
		</div>
		<div class="pageturn">
            <ul class="pagelist">
                {% if all_boss.has_previous %}
                    <li class="long">
                        <a href="?{{ all_boss.previous_page_number.querystring }}" class="prev">上一页</a>
                    </li>
                {% endif %}
                {% for page in all_boss.pages %}
                    {% if page %}
                        {% ifequal page all_boss.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="?{{ page.querystring }}">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_boss.has_next %}
                    <li class="long"><a href="?{{ all_boss.next_page_number.querystring }}">下一页</a></li>
                {% endif %}
            </ul>
        </div>
	</div>
{#	<div class="right layout">#}
{#		<div class="head">店铺老板排行榜</div>#}
{##}
{#            <dl class="des">#}
{#                <span class="num fl">1</span>#}
{#                <a href="/diary/hk_detail/6/">#}
{#                    <dt>#}
{#                        <img width="50" height="50" class="scrollLoading"  src="/static/media/teacher/2016/11/aobama_CXWwMef.png"/>#}
{#                    </dt>#}
{#                </a>#}
{#                <dd>#}
{#                    <a href="/diary/hk_detail/6/">#}
{#                        <h1 title="bobby">bobby</h1>#}
{#                    </a>#}
{#                    <p>工作年限：<span>5年</span></p>#}
{#                </dd>#}
{#            </dl>#}
{##}
{#            <dl class="des">#}
{#                <span class="num fl">1</span>#}
{#                <a href="/diary/hk_detail/6/">#}
{#                    <dt>#}
{#                        <img width="50" height="50" class="scrollLoading"  src="/static/media/teacher/2016/11/aobama.png"/>#}
{#                    </dt>#}
{#                </a>#}
{#                <dd>#}
{#                    <a href="/diary/hk_detail/6/">#}
{#                        <h1 title="还是bobby">还是bobby</h1>#}
{#                    </a>#}
{#                    <p>工作年限：<span>5年</span></p>#}
{#                </dd>#}
{#            </dl>#}
{##}
{##}
{#	</div>#}
    </div>
</section>
{% endblock %}



